:root {
  --primary-color: #9a4022;
  --secondary-color: #425143;
  --complementary-color: #183833;
  --accent-color: #FFEEE4;
 --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body{
    background-color: var(--accent-color);
}

h1,
h2,
h3 {
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 12px 10px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--accent-color);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.img-fluid {
  max-width: 70%;
}

.return-homepage-link{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-size: 12px;
    text-decoration: none;
    color: var(--complementary-color);
}