:root {
  --primary-color: #9a4022;
  --secondary-color: #425143;
  --complementary-color: #936244;
  --accent-color: #ffeee4;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--accent-color);
  margin: 60px auto;
  max-width: 900px;
}

h1,
h2,
h3 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 5px;
}

h1 {
  color: var(--primary-color);
  text-transform: capitalize;
}

h2 {
  color: var(--complementary-color);
  font-weight: 400;
}

h3 {
  color: var(--complementary-color);
  font-weight: 400;
}

h5 {
  color: var(--secondary-color);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 12px 10px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--accent-color);
}

.navigation-links a:hover{
  margin: 20px;
  border-radius: 4px;
  padding: 12px 10px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--accent-color);
}

.contactus-link{
    text-decoration: none;
    color: var(--secondary-color);
}