:root {
  --main-color: #9a4022;
  --secondary-color: #425143;
  --complementary-color: #191f1e;
  --accent-color: #ffeee4;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body{
    background-color: var(--accent-color);
}

h1,
h2,
h3 {
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.img-fluid {
  max-width: 70%;
}
